div{
    background:pink;
    margin-bottom: 30px;   
}
h1{
    text-align: center;
    
    
    
}
.menubar{
    
    width: 100px;;

    
}
.addbutton{
  
    background-color: aliceblue;
    margin-right: 250px;
    
    
    
    float: right;
    cursor: pointer;
   
}
.addbutto:hover{
    background-color: alpha($color: violet);
}
.circle{
    height: 50px;
    width: 50px;
    border: solid;
    border-radius: 50%;
    float: right;
    margin-right: 80px;
    cursor: pointer;
    
    

}
.circle:hover{
    background-image: linear-gradient(rgb(227, 157, 214),violet,rgb(219,105,170))
    
}
.example-full-width{
    margin-left: 500px;
}
.searchclick{
    margin-left: 10px;
}


