<div appHiglightdirective background="rgb(222, 184, 245)" >

    <mat-icon (click)="snav.toggle()" class="menubar">menu</mat-icon>
       <!-- <img
    src="https://media-exp1.licdn.com/dms/image/C510BAQHJRGz9A4vq6A/company-logo_200_200/0/1519912579389?e=2147483647&v=beta&t=y7dOj2Zz8ccdcZFiUGF19RHQG3dnvhH_56IY9dtSano"
    alt="" width="50px">  -->
                <h1 appHiglightdirective color="red" font-weight="bold">    Muraai Informaion Technology </h1>


<mat-form-field class="example-full-width" style="background-color:transparent ;">
  <input matInput type="text" placeholder="search" #search >
</mat-form-field>
<button appHiglightdirective background="rgb(245, 184, 223)" font-weight="bold" class="searchclick" (click)="searchBar(search.value)">  search  </button>




 <button appHiglightdirective background="rgb(199, 155, 191)" font-weight="bold" (click)="addonlineShopping()" class="addbutton" > ADD </button> 





<button  mat-button [matMenuTriggerFor]="menu" class="circle">{{fName}}{{lName}}</button>

<mat-menu #menu="matMenu">
    <mat-card>
    <mat-card-header>
        <!-- <mat-divider> </mat-divider> -->
        <mat-card-title>{{idName}}</mat-card-title>
    </mat-card-header>
    <!-- <mat-divider> </mat-divider> -->
    <mat-card-content>
        <p> {{email}} </p>
    </mat-card-content>
</mat-card>




   
</mat-menu>

    

    <mat-sidenav-container class="example-sidenav-container">
<mat-sidenav #snav mode="side">
<mat-nav-list >

<a mat-list-item appHiglightdirective background="rgb(227, 157, 214)"   routerLink="/dashboard" (click)="snav.toggle()" > <mat-icon>store</mat-icon> Order</a>
<!-- <a mat-list-item appHiglightdirective background="rgb(227, 157, 214)" routerLink="/goshopping" (click)="snav.toggle()" >Go To Shopping</a>  -->

<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <a mat-list-item appHiglightdirective background="rgb(227, 157, 214)" ><mat-icon>shopping_cart</mat-icon>  Go To Shopping  </a> 
      </mat-panel-title>
     
    </mat-expansion-panel-header>
    <p><a mat-list-item appHiglightdirective background="rgb(227, 157, 214)"  (click)="snav.toggle()" > Clothing </a> </p>
    <p><a mat-list-item appHiglightdirective background="rgb(227, 157, 214)"  (click)="snav.toggle()" >Grocery</a> </p>
    <p><a mat-list-item appHiglightdirective background="rgb(227, 157, 214)"  (click)="snav.toggle()" >Electronics</a> </p>
    <p><a mat-list-item appHiglightdirective background="rgb(227, 157, 214)"  (click)="snav.toggle()" >Home Appliance</a> </p>
  </mat-expansion-panel>
</mat-accordion>


<a mat-list-item appHiglightdirective background="rgb(227, 157, 214)" routerLink="/wishlist" (click)="snav.toggle()" > <mat-icon>favorite</mat-icon>  Wishlist</a>
<a mat-list-item appHiglightdirective background="rgb(227, 157, 214)"  routerLink="/" (click)="logout()" >Logout</a>
</mat-nav-list>
</mat-sidenav>


    <mat-sidenav-content>
        <router-outlet></router-outlet>
        
      </mat-sidenav-content>
    </mat-sidenav-container>




</div>  


 
   