.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://th.bing.com/th/id/OIP.SoljqLeCMWJSGaRHs-ID5QHaFj?pid=ImgDet&rs=1');
    background-size: cover;
  }
  .hss{
    display: flex;
    align-items: left;
    justify-content: left;
    padding-left: 10px;
  }
  .hey{
    padding-left: 30px;
  }
  